@import url('https://fonts.googleapis.com/css?family=Maiden+Orange|Amatic+SC');

html {
  font-size: 1em;
}

body {
  font-family: 'Maiden Orange', cursive;
  background-color: #efefef;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}
header, footer{
  text-align: center;
}
input[type=text], select, .note-input {
    font-family: inherit;
    /*font-weight: bold;*/
    width: 70%;
    padding: .25em;
    margin: .5em auto;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 100%;
}

button {
  /*font-family: 'Maiden Orange', cursive;*/

    font-family: inherit;
    /*font-family: 'Amatic SC', cursive;*/
    font-size: 100%;
    font-weight: bold;
    /*width: 40%;*/
    color: #444;
    padding: .5em;
    margin: .25em;
    border: none;
    /*border-radius: 4px;*/
    cursor: pointer;
    background-color: #fff740;
}

button:hover {
  background-color: #7afcff;
}
a{
  padding: 1em;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  color: #0084b4;

}
a:hover{
  cursor: pointer;
}
.w-7{
  width: 70%;
}
.m-auto{
  margin: .5em auto;
}
.fw{
  display: inline-block;
  width: 100%;
}
.flex{
  display: flex;
}
.b-2{
  border-radius: .5em;
}
.note{
  text-align: center;
  padding: 1em;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.953em;
  margin: .5em auto;
}
.note-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #feff9c;
  box-shadow: 5px 5px 4px rgba(9, 9, 9, .3);
}
.note-content div{
    margin: .5em auto;
}

.form{
  margin: .5em auto;
  text-align: center;
}
